.view_wrap {
    border-bottom: 1px dashed var(--gray);
}
.view_top {
    display: flex;
    justify-content: space-between;
}
.view_top h5 {
    font-weight: 800;
    font-size: 1.2rem;
    
    white-space: nowrap;
    /* 텍스트를 한 줄에 표시 */
    overflow: hidden;
    /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;
}
.back_list a {
    font-weight: 300;
    font-size: 0.9rem;
}
.back_list a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.view_wrap {
    margin-top: 20px;
    
    padding: 20px;
    
}
.view_box {
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

}
.user_info p i {
    margin-top: 15px;
    margin-right: 15px;
}
.user_info_box p {
    display: inline-block;
    margin: 5px 0;
}
.user_info {
    display: flex;
    min-width: 270px;
    width: 30%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.user_info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}
.user_info p {
    font-size: 1.1rem;
}
.user_info ul {
    display: flex;
    font-size: 0.85rem;
    margin-left: 10px;
}
.user_info li {
    padding: 0 10px;
    color: #555;
    border-right: 2px solid rgb(219, 219, 219);
}

.user_info li:first-child {
    padding-left: 0;
}

.user_info li:last-child {
    padding-right: 0;
    border-right: none;
}

.user_info p:hover,
.not_user p:hover,
.not_user li a:hover,
.user_info li a:hover {
    text-decoration: underline;
    text-underline-position: under ;
}
/* 로그인하지 않음 */

.not_user p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.not_user p i {
    font-size: 1.8rem;
    color: var(--mcolor);
    
    margin: 15px 10px 10px 8px;
}

.board_desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_detail {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board_detail span {
    font-size: 1rem;
    color: var(--black200);
    margin-bottom: 1.5rem;
}
.board_detail em {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    height: 9rem;
    padding: 1rem 1rem 1rem 1.5rem;
    overflow-y: auto;
    background-color: var(--white100);
    border: 1px solid var(--gray);
    color: var(--black100);
    border-radius: 5px;
}
.up_down {
    width: 60%;

    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.2s;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto 0 auto;
}
.up_down span {
    display: block;
}
.up_down i {
    margin-right: 0.2rem;
}
.up_down .good:hover {
    color: var(--mcolor);
}
.good.up {
    color: var(--mcolor);
}

.up_down .bad:hover {
    color: var(--red);
}
.down.bad {
    color: var(--red);
}

@media (max-width: 1150px) {

    .board_desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .alcohol_img {
        width: 70%;
        padding: 1.2rem;
    }
    .board_detail {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .board_detail em {
        height: 7rem;
    }
    .review_wrap .review_text strong {
        width: 25%;
    }
    .review_wrap li .review_text p {
        width: 65%;
    }

    .review_add textarea {
        width: 70%;
    }
    .review_add button {
        width: 28%;
    }
}

@media (max-width: 650px) {
    /* 회원정보 태그 깨짐 */
    .user_info {}
}