@import "commentBtn.css";

.view_wrap {
    border-bottom: 1px dashed var(--gray);
}
.view_top {
    display: flex;
    justify-content: space-between;
}
.view_top h5 {
    font-weight: 800;
    font-size: 1.35rem;
    white-space: nowrap;
    /* 텍스트를 한 줄에 표시 */
    overflow: hidden;
    /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;
}
.back_list a {
    font-weight: 300;
    font-size: 0.9rem;
}
.back_list a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.view_wrap {
    margin-top: 20px;
    
    padding: 20px;
    
}
.view_box {
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

}
.user_info p i {
    margin-top: 15px;
    margin-right: 15px;
}
.user_info_box p {
    display: inline-block;
    margin: 5px 0;
}
.user_info {
    width: 55%;
}
.user_info p {
    font-size: 1rem;
}

.user_info p:hover,
.not_user p:hover,
.not_user li a:hover,
.user_info li a:hover {
    text-decoration: underline;
    text-underline-position: under ;
}

/* 로그인하지 않음 */


.board_desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_detail {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board_detail span {
    font-size: 1rem;
    color: var(--black200);
    margin-bottom: 1.5rem;
}
.board_detail em {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    height: 9rem;
    padding: 1rem 1rem 1rem 1.5rem;
    font-weight: 600;
    overflow-y: auto;
    color: var(--black100);
}


/* 추천 비추 버튼  */
.comment_summary {
    border-top: 1px dashed var(--gray);
}
.comment_summary ul li {
    font-weight: 700;
}
.comment_summary {
    padding: 1.2rem 0;
}
.comment_summary ul {
    padding: 0.5rem 1rem;
}
.comment_summary ul li {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;   
}
.comment_summary ul li i {
    margin-right: 0.2rem;
}
.comment_summary ul li span {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: .9rem;
    display: block;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: #eee;
    color: var(--black200);
    cursor: pointer;
    transition: all 0.4s;
}

.comment_summary ul li:hover span {
    color: var(--white);
    background-color: var(--mcolor);
}
.comment_summary ul li p {
    color: var(--black100);
    font-size: .9rem;
}

.comment_summary ul li:hover i,
.comment_summary ul li:hover p {
    color: var(--mcolor);
}


/* btn js */

/*  버튼 끝  */


@media (max-width: 1150px) {

    .board_desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .alcohol_img {
        width: 70%;
        padding: 1.2rem;
    }
    .board_detail {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .board_detail em {
        height: 7rem;
    }
    .review_wrap .review_text strong {
        width: 25%;
    }
    .review_wrap li .review_text p {
        width: 65%;
    }

    .review_add textarea {
        width: 70%;
    }
    .review_add button {
        width: 28%;
    }
}

@media (max-width: 650px) {
    /* 회원정보 태그 깨짐 */
    .view_box {
        flex-direction: column;
    }
    .back_list {
        margin-top: 5px;
    }
    .button-list > button {
        margin-left: 0;
        padding: 7px 12px;
    }
}