.board_form {
}

.board_form > form {
    width: 100%;
    text-align: center;
    background-color: var(--board-color);
}

.form_box {
    padding-top: 10px;
}

.board_btn {
    margin: 20px 20px;
    padding-top: 10px;
    width: 260px;
}

/* 술 신청하기 end */

.post {
    width: 95%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
}

.board_text .link {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    height: 4.6vh;
    line-height: 45px;
    padding: 0rem 0.8rem 0rem 0.8rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2rem;
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    /* 폰트 컬러 좀더 진하게 바꾸기  */
}

/* 포스트 종류 */

.board_input_title {
    width: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.board_input_contents {
    width: 95%;
    height: 400px;
}

/* 하단 버튼 */
.create {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px 20px 0;
}

.create > button {
    display: block;
    width: 150px;
}

/* board view */
.form_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid black;
}

.form_title h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.form_title em {
    font-style: normal;
}

.board_table {
    width: 100%;
    margin: 30px 0;
}

.board_table tr td:nth-child(2) em {
    font-size: 0.7rem;
    color: red;
}

thead tr th {
    text-align: center;
}

tbody tr td:nth-child(2) {
    text-align: left;
}

tbody tr td {
    text-align: center;
    white-space: nowrap;
    /* 텍스트를 한 줄에 표시 */
    overflow: hidden;
    /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;
    /* '...'을 표시 */
    max-width: 40px;
    height: 10px;
}

table tbody tr td:nth-child(2) a:hover,
table tbody tr td:nth-child(3):hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* 테이블 디자인 */

/* 보드 페이지네이션 */
.board_option {
    border-top: 1px solid var(--gray);
}

.board_pages {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.board_pages ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.board_pages ul li a {
    display: inline-block;
    padding: 0px 8px;
}

.board_pages ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--mcolor);
    color: var(--mcolorUp);
    font-weight: bold;
}

.board_pages ul li.active a {
    color: var(--mcolor);
    font-weight: bold;
    border: 1px solid var(--gray);
}

.board_search {
    margin: 0 auto;
}

.board_search_option {
    margin-top: 5px;
    display: flex;
}

.board_search_option:nth-child(1) {
    margin-left: 210px;
}

.component_box {
    text-align: center;
    line-height: 2rem;
}

.select_compponent {
    width: 20%;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--gray);
    text-align: left;
    margin-right: 20px;
    padding-left: 10px;
    position: relative;
}

.select_compponent a {
    font-size: 0.9rem;
    color: #757575;
}

.select_compponent a i {
    position: absolute;
    font-size: 1rem;
    top: 0.8rem;
    left: 8rem;
}

.select_compponent a:hover {
    color: #555;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #757575;
}

.board_search_box {
    height: 40px;
    line-height: 2.5rem;
    border: 1px solid var(--gray);
    position: relative;
}

.board_search_box input {
    outline: none;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: #555;
}

.board_search_box input::placeholder {
    font-size: 1rem;
}

.board_search_box button {
    background-color: transparent;
    border: none;
    color: var(--mcolor);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 12px 15px;
    position: absolute;
    right: 0rem;
    top: 23px;
    transform: translateY(-50%);
}
/* ********* */

/* 셀렉트 박스시작 */
.selectBox3 * {
    box-sizing: border-box;
}

.selectBox3 {
    padding: 20px 0;
    position: relative;
    width: 250px;
    height: 45px;
    border-radius: 6px;
    border: 2px solid var(--gray);
    /* background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 7px) center no-repeat; */
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-color: var(--white);
}
.selectBox3 i {
    font-size: 20px; /* 아이콘 크기 조정 */
    color: var(--mcolor); /* 아이콘 색상 설정 */
    position: absolute;
    right: 4%;
    bottom: 18%;
}
.selectBox3:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
    background: var(--gray);
}

.selectBox3 .label {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 20px;
    background: transparent;
    cursor: pointer;
    padding-bottom: 30px;
}

.selectBox3 .optionList {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    background: white;
    color: var(--scolor);
    border: 1px solid var(--gray);
    outline: none;
    border-top: none;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in;
}

.selectBox3.active .optionList {
    max-height: 500px;
}

.selectBox3 .optionItem {
    border-bottom: 1px dashed var(--mcolor);
    padding: 5px 15px 5px;
    transition: 0.1s;
}

.selectBox3 .optionItem:hover {
    background: var(--mcolor);
}

.selectBox3 .optionItem:last-child {
    border-bottom: 0 none;
}

.selectBox3 .optionList::-webkit-scrollbar {
    width: 6px;
}

.selectBox3 .optionList::-webkit-scrollbar-track {
    background: transparent;
}

.selectBox3 .optionList::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 45px;
}

.selectBox3 .optionList::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

/* 셀렉트 박스 끝 */

/* 반응형 시작 */

@media (max-width: 1870px) {
    .board_search_option:nth-child(1) {
        margin-left: 160px;
    }
}
@media (max-width: 1800px) {
    .select_compponent a i {
        left: 7rem;
    }
}
@media (max-width: 1800px) {
    .board_search_option:nth-child(1) {
        margin-left: 250px;
    }
    .select_compponent a i {
        left: 6.5rem;
    }
}

@media (max-width: 1750px) {
    .board_search_option:nth-child(1) {
        margin-left: 160px;
    }
    .select_compponent a i {
        left: 6.5rem;
    }
}
@media (max-width: 1650px) {
    .select_compponent a i {
        top: 15px;
        left: 10rem;
    }
}

@media (max-width: 1580px) {
    .select_compponent a i {
        left: 9rem;
    }
}
@media (max-width: 1500px) {
    .select_compponent a i {
        left: 8rem;
    }
}
@media (max-width: 1420px) {
    .board_search_option:nth-child(1) {
        margin-left: 100px;
    }
    .select_compponent a i {
        left: 7rem;
    }
}

@media (max-width: 1400px) {
    .board_search_option:nth-child(1) {
        margin-left: 80px;
    }

    .select_compponent a i {
        display: none;
    }
}

@media (max-width: 1300px) {
    .board_search_option:nth-child(1) {
        margin-left: 110px;
    }
    .select_compponent {
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    .board_search_option:nth-child(1) {
        margin-left: 35px;
    }
}

@media (max-width: 1150px) {
    .board_search_option:nth-child(1) {
        margin-left: 150px;
    }
}

@media (max-width: 1000px) {
    .board_search_option:nth-child(1) {
        margin-left: 10px;
    }
}

@media (max-width: 560px) {
    .form_box {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .board_btn {
        align-items: center;
        width: 95%;
        margin: 20px 0 5px 0;
    }

    .board_text {
        margin: 0;
        width: 100%;
    }

    .post {
        flex-direction: column;
    }
    .selectBox3 {
        width: 100%;
        margin-bottom: 10px;
    }
    .selectBox3 i {
        right: 2%;
    }
    .board_text .link {
        width: 100%;
        height: 40px;
        margin-left: 0;
    }

    .board_title {
        margin-bottom: 5px;
    }

    .board_content {
        margin-top: -20px;
    }

    .create {
        margin-left: 10px;
        margin-top: -50px;
    }

    .create button {
        width: 99%;
    }
}

.select_list {
    display: none;
}

.none {
    display: none;
}
