<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃01</title>
    <style>
        #wrap {
            width: 1200px;
            margin: 0 auto;
        }
        #header {
            width: 1200px;
            height: 200px;
            background-color: #111;
        }
        #contents {
            width: 1200px;
            height: 600px;
            background-color: #222;
        }
        #footer {
            width: 1200px;
            height: 200px;
            background-color: #333;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <main id="contents"></main>
        <footer id="footer"></footer>
    </div>
</body>
</html>