@font-face {
    font-family: 'nanumSquareNeo';
    src: url('./NanumSquareNeo.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style: none;
}
#header {
    padding: 40px;
    text-align: center;
    border-bottom: 1px dashed #dcdcdc;
}
#header h1 {
    font-size: 4vmax;
    padding: 0 40px 40px;
}
#header h1 a {
    text-decoration: none;
    color: #161366;
    font-family: "GmarketSans";
}
#header nav ul li {
    list-style: none;
    display: inline;
}
#header nav ul li.active a {
    background-color: #161366;
    color: #fff;

}
#header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #161366;
    border: 1px solid #161366;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-family: "nanumSquareNeo";
}
#header nav ul li a:hover {
    background-color: #161366;
    color: #fff;
}
#main{
    min-height: 500px;
}
#footer {
    padding: 40px;
    text-align: center;
    border-top: 1px solid #dcdcdc;
}
#footer a {
    color: #161366;
    text-decoration: none;
}
#footer a:hover {  
    text-decoration: underline;
    text-underline-position: under;
}
/* main menu */
.main_menu {
    padding: 40px;
    border-bottom: 1px dashed #dcdcdc;
}
.main_menu ul {
    margin-bottom: 10px;
}
.main_menu ul li a {
    font-family: "nanumSquareNeo";
    line-height: 1.8;
    color: #161366;
}
.main_menu ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #09073c;
}
.main_menu ul li a strong {
    position: relative;
}
.main_menu ul li a strong::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #140fa176;
    transition: all 0.3s;
    border-radius: 30px;
    padding: 0 5px;
    display: block;
}
.main_menu ul li a:hover strong::before {
    height: 100%;
}

/* main sample */
.main_sample {
    padding: 40px;
}
.main_sample .sample {
    margin-bottom: 100px;
}
.main_sample .sample h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "GmarketSans";
    line-height: 1.4;
}
.main_sample .sample p {
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "nanumSquareNeo";
}
.main_sample .sample .desc {
    background-color: #f6f6f6;
    padding: 10px 10px 10px 20px;
    border-left: 5px solid #161366;
    margin-bottom: 10px;
    font-family: "nanumSquareNeo";
    line-height: 1.6;
}
.main_sample .sample .result {
    font-family: "nanumSquareNeo";
    
}
.main_sample .sample .result summary {
    margin-bottom: 10px;
    cursor: pointer;
}
.main_desc {
    font-family: "nanumSquareNeo";
    padding: 40px;
}
.main_desc > div {
    margin-bottom: 100px;
}
.main_desc h2 {
    font-family: "GmarketSans";
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.4;
}
.main_desc p {
    background-color: #ccc;
    padding: 20px;
    border-left: 5px solid #00121a;
    margin-bottom: 20px;
}

.main_desc ul {
    margin-bottom: 10px;
}
.main_desc li {
    position: relative;
    line-height: 1.6;
    padding-left: 12px;
}
.main_desc li::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #054822;
    position: absolute;
    left: 0;
    top: 10px;
}
.main_desc a {
    display: block;
    padding: 20px;
    border: 1px dashed #161366;
    background-color: #ccc;
    text-align: center;
}
.main_desc a:hover {
    background-color: #161366;
    color: #fff;
}
@media (max-width: 800px){
    .main_sample {
        padding: 20px;
    }
    .main_menu {
        padding: 20px;
    }
    .main_desc {
        padding: 20px;
    }
}