:root {
    --mainfont-nanum: "nanumSquareNeo";
    font-family: var(--mainfont-nanum);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }

    ---black: #000;
    --black100: #333;
    --black200: #555;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #28282800;

    --white: #fff;
    --white100: #fff;
    --white200: #fff;
    --white300: #fff;
    --white400: #fff;
    --white500: #fff;

    --primary-color: #eee;
    --gold: #b48505;
    --green: #03c75a;


    --Ddag: "lotteriaDdag";
    --chap: "lotteriaChab";

    
}

.box {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    // box-shadow: 2px 2px 5px #00000031;
} 
