@charset "UFT-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}

/* wrap */
#wrap {
    width: 100%;
    position: relative;
}

/* container */
.container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
    
}

/* header */
#header {
    width: 100%;
    /* background-color: #f3f3f3; */
    z-index: 1000;
    position: relative;
}
#header .container {
    display: flex;
    align-items: end;
    position: relative;
    background-color: #f3f3f3;
}
#header .container::after {
    content: '';
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 102px;
    left: 0;
    z-index: -1;
    transition: all 400ms;
}
#header .container.on::after {
    height: 160px;
}
#header .container .logo {
    width: 20%;
}
#header .container .logo a {
    padding: 30px;
    display: inline-block;
}
#header .container .nav {
    width: 80%;
}
#header .container .nav > ul {
    display: flex;
    justify-content: right;
}
#header .container .nav > ul > li {
    position: relative; 
}
#header .container .nav > ul > li > a {
    display: block;
    padding: 15px 40px;
    font-weight: bold;
}
#header .container .nav > ul > li > a:hover {
    background-color: #ffe39c;
}
#header .container .nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    display: none;
}
#header .container .nav > ul > li > ul > li > a {
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
#header .container .nav > ul > li > ul > li > a:hover {
    background-color: #ffe090;
    color: #000;
}

/* slieder */
#slieder {
    width: 100%;
    height: 300px;
}
#slieder .container {
    overflow: hidden;
}
#slieder .container .sliderWrap {
    display: flex;
    width: 400%;
}
#slieder .container .sliderWrap .slider {
    position: relative;
    width: 1200px;
}
#slieder .container .sliderWrap .slider a {
    display: block;
}
#slieder .container .sliderWrap .slider .text {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    padding: 20px 50px;
    
}
#slieder .container .sliderWrap .slider .text h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 3px;
}
#slieder .container .sliderWrap .slider .text strong {
    color: orange;
}
#slieder .container .sliderWrap .slider .text p {
    color: #fff;
    font-size: 18px;
}

/* contents */
#contents {
    width: 100%;
}
#contents .container  {
    display: flex;
}
/* contents : notice */
#contents .container .notice {
    width: 400px;
    height: 200px;
    padding: 25px 20px;
    background-color: #fff4e0;
    box-sizing: border-box;
}
#contents .container .notice h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#contents .container .notice li {
    display: flex;
    line-height: 1.8;
    position: relative;
}
#contents .container .notice li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: -10px;
    top: 11px;
    border-radius: 50%;
}
#contents .container .notice li a {
    width: 80%;
}
#contents .container .notice li a:hover {
    text-decoration: underline;
}
#contents .container .notice li span {
    width: 20%; 
    text-align: right;
}

/* contents : gallery */
#contents .container .gallery {
    width: 400px;
    height: 200px;
    padding: 25px 20px;
    box-sizing: border-box;
}
#contents .container .gallery h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#contents .container .gallery ul {
    display: flex;
    justify-content: space-between;
}
#contents .container .gallery li {
    width: 114px;
}
#contents .container .gallery li a {
    display: block;
}
#contents .container .gallery li a:hover img {
    opacity: 0.8;
}


/* contents : banner */
#contents .container .banner {
    width: 400px;
    background-image: url(../images/image01.jpg);
    text-align: center;
}
#contents .container .banner h3 {
    padding-top: 40px;
    font-size: 24px;
    color: #fff;
}
#contents .container .banner a {
    background-color: orange;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
    transition: all 0.3s;
    margin-top: 3px;
}
#contents .container .banner a:hover {
    border-radius: 0;
}


/* footer */
#footer {
    width: 100%;
    /* background-color: #e5e5e5; */
}
#footer .container {
    display: flex;
    background-color: #e5e5e5;
}
#footer .container .footer1 {
    width: 80%;
}
#footer .container .footer1 .footer1-1{
    width: 100%;
    height: 50px;
    margin-left: 10px;
}
#footer .container .footer1 .footer1-1 li:last-child {
    border: 0;
}
#footer .container .footer1 .footer1-1 li {
    display: inline;
    border-right: 1px solid #333;
}
#footer .container .footer1 .footer1-1 li a {
    padding: 18px 10px 16px 0;
    display: inline-block;
}
#footer .container .footer1 .footer1-1 li a:hover {
    text-decoration: underline;
}
#footer .container .footer1 .footer1-2{
    width: 100%;
    height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
    margin-left: 10px;
}
#footer .container .footer2 {
    width: 20%;
    height: 100px;
}
#footer .container .footer2 select {
    margin-top: 34px;
    width: 100%;
    height: 30px;
}

/* popup */
.popup__view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #ffe4b5;
    border: 4px solid orange;
    padding: 20px;
    display: none;
}
.popup__view h3 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.popup__view a {
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    background-color: orange;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}