@font-face {
    font-family: "lotteriaDdag";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/lotteriaDdag/lotteriaDdag.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/lotteriaDdag/lotteriaDdag.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/lotteriaDdag/lotteriaDdag.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/lotteriaDdag/lotteriaDdag.ttf") format("truetype");
    font-display: swap;
} 
.lotteriaDdag {
    font-family: "lotteriaDdag";
}
