.channel__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .channel__header {
            width: 100%;
            height: 300px;
            position: relative;
            background-position: 0 0;

        .circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 250px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
    }
    .channel__info {
        width: 50%;
        border: 1px solid var(--black500);
        margin-top: 200px;
        display: flex;
        justify-content: space-around;

        .main__video {
            margin: auto 10px;
            width: 300px;
            height: 300px;
            background-color: #000;
        }

        .title {
            font-weight: 800;
            margin-bottom: 15px;
        }

        
        .info {
            span {
                display: inline-block;
                margin-bottom: 20px;
                margin-right: 15px;
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }
        .desc {
           
            white-space: pre-line;
        }
    }
    .channel__video {
        padding: 40px;
    }
    .channel__more {}


}