.header__logo {
    margin-top: 20px;

    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            position: relative;
            animation: logo 5s 5s ease-in-out infinite;
        }

        @keyframes logo {
            0% {
                transform: rotate(0deg);
                border-radius: 100%;
            }
            50% {
                transform: rotate(180deg);
                border-radius: 50%;
            }
            100% {
                transform: rotate(360deg);
                border-radius: 100%;
            }
        }
        svg {
            position: absolute;
            left: 9px;
            top: 10px;
            width: 33px;
            height: 32px;
        }

        span {
            font-size: 24px;
            line-height: 1;
            font-family: "lotteriaDdag";
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}

.header__menu {
    padding: 10px;

    li {
        a {
            font-size: 1rem;
            display: block;
            line-height: 1;
            color: var(--black200);
            padding: 1rem 2rem 1rem 2.5rem;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
            border: 1px solid transparent;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: 0.7rem;
                top: 0.8rem;
            }

            &:hover {
                background-color: #000;
                color: #eee;
            }
        }
        &.active {
            a {
                background-color: #000;
                border: 1px solid black;
            }
        }
    }

    .keyword {
        overflow: auto;
        overflow-y: scroll;
        height: 300px;    
        margin-top: 20px;

        li {
            a {
                padding: 0.8rem 2rem 0.8rem 2.5rem;
            }
            svg {
                width: 1.2rem;
                height: 1.2rem;
                position: absolute;
                left: 0.8rem;
                top: 0.7rem;
            }
        }
    }
}

.header__sns {
    
    border-top: 1px solid var(--black500);
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 0 0 0;
    background-color: #fff;
    z-index: 10000;
    font-size: 17px;

   
    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 0px 15px;
        }
    }
    li:nth-child(1),
    li:nth-child(3) {
        font-size: 20px;

    }
    li:nth-child(1) a,
    li:nth-child(3) a{
        position: relative;
        top: 2px;
    }
    li:nth-child(2) a{
        position: relative;
        top: 1px;
    }
}
