.search__inner {
    width: 100%;
    padding: 24.5px 40px;
    padding:  17px 40px 18px 40px;
    border-bottom: 1px solid var(--black600);

    label {
        display: none;
    }
    .search__input {
        width: 100%;
        background-color: var(--white);
        padding: 15px;
        border-radius: 50px;
        padding: 10px 20px;
        border: 1px solid var(--black500);
        color: var(--black500);
        outline: none;
    }
    
}