pre code.hljs {
    margin-bottom: 0 !important;
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #1f224a26;
}
::-webkit-scrollbar-thumb {
    background: rgba(69, 71, 100, 0.321);
    border-radius: 20px;
}
/* end scroll */


.modal__btn {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    transform: scale(0);
}
.modal__box {
    width: 70%;
    border-radius: 10px;
    background-color: #ccc;
    transform: scale(0);
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #7a7b8b;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}
.modal__close:hover {
    background-color: #33377d;
    color: #fff;
}
.modal__box .title {
    background-color: #1b1c2e;
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
}
.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #3b3d63;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 2rem;
}
.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #4daa96;
    border-radius: 50%;
}

.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #802370;
    border-radius: 50%;
}
.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}

.modal__box .title .tabs > div {
    color: #4daa96;
    background-color: #282936;
    padding: 0.35rem 0.8rem 0.25rem 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__box .title .tabs > div.active {
    background-color: #1f224a;
}
.modal__box .title .tabs > div em {
    font-style: normal;
}
.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: .2rem;
}
.modal__box .title .tabs > div .close {
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .cont {
    background-color: #282936;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.modal__box .cont > div {
    display: none;
}
.modal__box .cont > div.active {
    display: block;
} 

/* 모달 컨텐츠에 show가 붙었을 때 애니메이션 동작 */
.modal__cont.show {
    animation: foldOut 1s ease forwards;
}

.modal__cont.show .modal__box {
    animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show .modal__close {
    animation: opacityOut 0.5s 1.5s ease forwards;
}
@keyframes foldOut {
    0% {transform: scaleX(0.0001) scaleY(1);}
    50% {transform: scaleX(0.0001) scaleY(1);}
    100% {transform: scaleX(1) scaleY(1);}
}

@keyframes zoomOut {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes opacityOut {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* 모달 컨트 사라지게 */
.modal__cont.show.hide {
    animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show.hide .modal__close {
    animation: opacityIn 0.5s ease forwards;
}
@keyframes foldIn {
    0% {transform: scaleX(1) scaleY(1);}
    50% {transform: scaleX(0.0001) scaleY(1);}
    100% {transform: scaleX(1) scaleY(1);}
}

@keyframes zoomIn {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes opacityIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}