/* board re */
.board_search {
    width: 100%;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}
.select_box i { 
    display: none;
}
.board_select_option {
    width: 30%;
    padding: 13px 30px 0 0;
    border-right: 1px solid var(--gray);
    display: inline-flex;
    justify-content: space-between;
    margin-right: 40px;
}

.board_select_option i {
    padding-top: 5px;
    color: #757575;
}

.select_compponent a {
    font-size: 1rem;
    color: #757575;
}

.search_form {
    width: 80%;
    margin-left: 15px;
}



/* ***********************8 board top end *******************************/

.table_container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
}

.table_category {
    padding: 40px 30px 30px 30px;
}

.table_category h2 {
    font-size: 1.1rem;
    color: #7A7A7A;
    font-weight: bold;
}

.container {
    padding: 0 30px;
}

/* board table */
.board_table {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.board_table_sort {
    width: 100%;
}

.board_key {
    background-color: #fff;
    border: 1px solid var(--gray);
    border-radius: 10px;
    margin-bottom: 10px;

}

.board_value {
    background-color: #fff;
    border: 1px solid var(--gray);
    border-radius: 10px;
    margin-bottom: 1px;
}

.board_table_sort ul {}

.board_table_sort .board_value li {

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board_table_sort .sort a {
    font-size: 0.9rem;
}

.board_table_sort ul li a {
    font-size: 0.9rem;
    color: #7A7A7A;
    font-weight: bold;
}

/*  */

.sort {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.sort li:nth-child(2) {
    width: 45%;
}

.sort li:nth-child(4) {
    margin-left: 10px;
}

.sort li:nth-child(5) {
    margin-left: -20px;
}

.board_value ul {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;

}

.board_value li:nth-child(2) {
    width: 45%;
    max-width: 60%;
    margin-left: -20px;
}

.board_value ul li:nth-child(3) {
    margin-left: -40px;
}


/*  */

/* board css */

.board_page_option {}

.board_pages {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.board_pages ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.board_pages ul li a {
    display: inline-block;
    padding: 0px 8px;
}

.board_pages ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--mcolor);
    color: var(--mcolorUp);
    font-weight: bold;
}

.board_pages ul li.active a {
    color: var(--mcolor);
    font-weight: bold;
    border: 1px solid var(--gray);
}

.board_search {
    margin: 0 auto;
}

.board_search_option {
    display: flex;
}


.board_search_box {
    height: 40px;
    line-height: 2.5rem;
    position: relative;
    border-radius: 10px;
    background-color: var(--gray);
}

.board_search_box input {
    outline: none;
    border: none;
    border-radius: 10px;
    color: #555;
    background-color: var(--gray);
    width: 100%;
    padding: 10px 200px 10px 30px;
    
}

.board_search_box input::placeholder {
    font-size: 1rem;
}

.board_search_box button {
    background-color: transparent;
    border: none;
    color: var(--mcolor);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 12px 15px;
    position: absolute;
    right: 0rem;
    top: 23px;
    transform: translateY(-50%);
}

.none {
    display: none;
}

@media (max-width: 1310px) {
    .board_select_option {
        margin-right: 10px;
    }

    .search_form input {
        padding: 10px 60px 10px 20px;
    }

    .sort li:nth-child(4) {
        margin-left: 0px;
    }

    .sort li:nth-child(5) {
        margin-left: -20px;
    }

    .board_value li:nth-child(3) {
        margin-left: -10px;
    }
}

@media (max-width: 930px) {

    .board_value li:nth-child(5),
    .sort li:nth-child(5) {
        display: none;
    }

    .board_value li:nth-child(3) {
        width: 20%;
        margin-right: -60px;
    }
}

@media (max-width: 580px) {
    .board_select_option {
        width: 30%;
        margin-right: 5px;
        border-right: 1px solid black;
    }

    .board_select_option i {
        margin-top: -5px;
    }
    .select_box > span {
        display: inline-block;
        width: 70px;
    }
    .board_value li:nth-child(3) {
        margin-right: -40px;
    }

    .board_search {
        width: 100%;
        border-bottom: 1px solid var(--gray);
    }

    .search_form {
        margin-left: 0;
    }
    
    .board_search_box {
        width: 100%;
    }
    .search_form input {
        width: 100%;
        margin-left: 90px;
        height: 40px;
        position: relative;
    }

    .board_select_option {
        position: absolute;
        width: 15%;
        height: 40px;
        line-height: 1rem;
        border-right: none;
        border-radius: 10px;
        padding-left: 15px;
        z-index: 1;
    }

    

    /* .select_box i {
        display: inline-block;
        margin-top: -1px;
        margin-left: 11px;
        color: 000;
    } */

    .board_search {
        
    }
}
@media (max-width: 560px) {
    .board_select_option {
        padding-left: 0;
    }
    .search_form input {
       
    }
    .search_form button {
        padding: 12px 15px 12px 0px;
    }
}
@media (max-width: 510px) {
    .board_select_option {
    }
    .search_form input {
        padding-right: 10px;
    }
}


.sort li:nth-child(2) {
    width: 45%;
}

.board_value li:nth-child(2) {
    width: 45%;
    max-width: 60%;
    margin-left: -20px;
}