:root {
    /* color */
    --white: #fefefe;
    --white100: #f1f1f1;

    --black: #222;
    --black100: #555;

    --red: #e21717;
    --gray: #ccc;
    /* --mcolor: #03C75A;
    --mcolorUp: #09d665; */
    --mcolor: #2963d1;
    --mcolorUp: #2c6ee8;
    --scolor: #4F4F4F;
    --bgcolor: #DAE0E6;

    --board-color: #eee;
    --board-color2: rgba(217, 217, 217, 0.4);
    --board-color3: #dfdfdf;
    --icon-active: #0079D3;
}

/* 라운드 코너 */
.roundCorner {
    border-radius: 10px;
    border: 1px solid var(--gray);
}

/* 그림자 */
.shaDow {
    box-shadow: 2px 2px 5px #00000031;
}

/* 메인 박스에 들어가는 박스 디자인 */

.boxStyle {
    width: 100%;
    height: auto;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: var(--white);
}
.boxStyle h4 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}
.boxStyle h4 span {
    color: var(--red);
}
@media (max-width: 600px) {
    .boxStyle {
        padding: 1rem;
    }
}

/* 사이드에 들어가는 초록 버튼 */
.sideBtn {
    width: 100%;
    margin-top: 20px;
    background-color: var(--mcolor);
    outline: none;
    border: none;
    padding: 10px 20px;
    color: var(--white);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.4s;
}
.sideBtn:hover {
    background-color: var(--mcolorUp);
}

/* 스크롤 css */
.scrollStyle::-webkit-scrollbar {
    width: 10px;
}
.scrollStyle::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.scrollStyle::-webkit-scrollbar-track {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* input style */
.inputStyle {
    outline: none;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: #555;
    width: 80%;
}
.placeholder {
    font-size: 1rem;
}
.search_box button {
    background-color: transparent;
    border: none;
    color: var(--mcolor);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}
/* input css 초기화 */
.inputReset {
    outline: none;
    border: 0;
}

/* white space */
.textOverflow {
    white-space: nowrap; /* 텍스트를 한 줄에 표시 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis; /* '...'을 표시 */
}

.flexContainer {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
     /* 세로 중앙 정렬 */
    height: auto; /* 페이지 높이 기준으로 설정 (전체 화면 높이) */
}
.underLine:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* margin-top */
.mt0 { margin-top: 0px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }

/* margin-bottom */
.mb0 { margin-bottom: 0px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }


