.view_top {
    display: flex;
    justify-content: space-between;
}

.view_top h5 {
    font-weight: 800;
    font-size: 1.35rem;
    white-space: nowrap;
    /* 텍스트를 한 줄에 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.view_wrap {
    margin-top: 20px;
    padding: 20px;
}

.view_box {
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.user_info_box p {
    display: inline-block;
    margin: 5px 0;
}

.user_info {
    width: 55%;
}

.user_info p {
    font-size: 1rem;
    cursor: pointer;
}

.user_info p:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.info_list {
    display: flex;
    align-items: center;
    position: relative;
}

.info_list i {
    margin-right: 5px;
    color: #ddd;
}

.info_list div {
    padding-right: 15px;
}

.view_info div {
    font-weight: bold;
    font-size: 0.9rem;
    position: relative;
    line-height: 2.3rem;
}

.view_info .info_list i.like {
    color: var(--mcolor);
}

.view_num:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.view_info div em {
    color: var(--red);
    font-weight: bold;
    font-size: 1rem;
}

.board_desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_detail {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px dashed var(--gray);
    border-bottom: 1px dashed var(--gray);
}

.board_detail span {
    font-size: 1rem;
    color: var(--black200);
    margin-bottom: 1.5rem;
}

.board_detail em {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    height: 9rem;
    padding: 1rem 1rem 1rem 1.5rem;
    font-weight: 600;
    overflow-y: auto;
    color: var(--black100);
}

/* 추천 버튼  */
.comment_summary {
    padding: 20px 0 10px 0;
    border-top: 1px dashed var(--gray);
    text-align: right;
}

.button_list button {
    padding: 15px 25px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1rem;
    border-radius: 6px;
    display: inline-block;
    outline: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.button_list .good {
    background: var(--mcolor);
    color: var(--white);
}

.button_list .good:hover {
    background-color: var(--mcolorUp);
}

.button_list .modify,
.button_list .delete {
    background: var(--gray);
    color: var(--white);
}

.button_list .modify:hover,
.button_list .delete:hover {
    background-color: var(--black300);
}

/* btn js */

/*  버튼 끝  */

@media (max-width: 1150px) {
    .board_desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .alcohol_img {
        width: 70%;
        padding: 1.2rem;
    }

    .board_detail {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 650px) {
    .back_list {
        margin-top: 5px;
    }

    .button-list > button {
        margin-left: 0;
        padding: 7px 12px;
    }

    .info_list svg {
        bottom: 12%;
    }
}

@media (max-width: 600px) {
    .board_detail em {
        height: 7rem;
    }

    .review_wrap .review_text strong {
        width: 25%;
    }

    .review_wrap li .review_text p {
        width: 65%;
    }

    .review_add textarea {
        width: 70%;
    }

    .review_add button {
        width: 28%;
    }

    .view_heart img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 420px) {
    .view_wrap {
        margin-top: 0;
        padding: 5px 0 0 0;
    }

    .view_box {
        margin-top: 0;
        flex-direction: column;
        align-items: baseline;
    }

    .view_info {
        padding-left: 15px;
    }

    .board_detail {
        padding: 0;
    }

    .board_detail em {
        padding: 5px 0;
    }

    .back_list {
        margin-top: 5px;
    }

    .button_list > button {
        margin-left: 0;
        padding: 10px 10px;
    }
}

/* review delete & modify */

#popupDelete {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.review__delete {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 2px solid #000;
}

.review__delete h4 {
    margin-bottom: 10px;
}

.review__delete input {
    border: 1px solid #000;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
}

.review__delete p {
    margin-top: 10px;
    color: var(--black300);
}

.review__delete .btn2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.review__delete .btn2 button {
    background-color: #000;
    color: var(--white);
    padding: 5px 20px;
    cursor: pointer;
}

#popupModify {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.review__modify {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 2px solid #000;
}

.review__modify h4 {
    margin-bottom: 10px;
}

.review__modify textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1rem;
    resize: none;
}

.review__modify input {
    border: 1px solid #000;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
}

.review__modify p {
    margin-top: 10px;
    color: var(--black300);
}

.review__modify .btn2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.review__modify .btn2 button {
    background-color: #000;
    color: var(--white);
    padding: 5px 20px;
    cursor: pointer;
}

.none {
    display: none;
}
