/* 다소 난잡합니다. 수정은 저한테 말씀해주세요. */

body {
    background-color: #ECFBEC;
    background-image: url("../img/vector_line.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#find_wrap {
    margin: 0 auto;
    font-family: 'NanumSquareNeo';
}
#main {
    width: 35%;
    min-width: 500px;
    padding: 40px 0;
    margin: 0 auto;
}

/* join__form */

.find__form {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 53, 7, 0.3);
}
.find__form form {
    margin: 0 auto;
    width: 80%;
}
.header__box {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding: 40px 0px ;
}
.header__box h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.header__box h2 {
    font-size: 20px;
}
.find__form div {
    margin-bottom: 1.5em;
}
.find__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* input */

.find__form input {
    font-size: 14px;
    outline: none;
    border: 1px solid #414141a6;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    padding: 10px;
}
.find__form .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.find__form .check label {
    width: 100%;
} 
.find__form .check input {
    width: 68%;
}
.find__form .check .check__btn {
    border: 0;
    background-color: #03C75A;
    color: #fff;
    font-size: 1rem;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}
.check__msg {
    margin-top: 10px;
    color: #eb1919;
    font-size: 13px;
}

.join__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.join__btn .check__btn {
    background-color: #03C75A;
    color: #fff;
    font-size: 1rem;
    width: 40%;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

/* join__collect */

.collect_box {
    background-color: #fff;
    max-width: 800px;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgba(0, 53, 7, 0.3);
}

/* media - 원래 좀 길게 나와서 600 정도에 살짝 줄였습니다. */

@media (max-width: 600px) {
    #main {
        width: 90%;
    }
    .header__box {
        margin-top: 0;
        text-align: center;
        padding: 40px;
    }
    .header__box h1 {
        margin-top: 20px;
        font-size: 35px;
    }
    .header__box p {
        font-size: 14px;
    }
    .find__form form {
        width: 85%;
    }
    .scroll__style::-webkit-scrollbar {
        width: 5px;
    }
}

.blind {
    display: none;
}