/* join__form */

.find__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 90%;
}

.find__form form {
    margin: 0 auto;
    width: 80%;
}

.header__box {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}

.header__box h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header__box h2 {
    width: 100%;
    font-size: 20px;
}

.find__form div {
    margin-bottom: 1.2rem;
}

.find__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* input */
.fidn__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fidn__box div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fidn__box div label {
    width: 90%;
}

.fidn__box div input {
    font-size: 14px;
    outline: none;
    border: 1px solid #414141a6;
    border-radius: 10px;
    height: 3rem;
    width: 90%;
    padding: 10px;
}

.find__form .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.find__form .check label {
    width: 100%;
}

.find__form .check input {
    width: 68%;
}

.find__form .check .check__btn {
    border: 0;
    background-color: #03C75A;
    color: #fff;
    font-size: 1rem;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}

.check__msg {
    width: 90%;
    text-align: left;
    margin-top: 10px;
    color: #eb1919;
    font-size: 13px;
}


/* join__collect */

.collect_box {
    background-color: #fff;
    max-width: 800px;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgba(0, 53, 7, 0.3);
}

/* media - 원래 좀 길게 나와서 600 정도에 살짝 줄였습니다. */

@media (max-width: 600px) {
    #main {
        width: 90%;
    }

    .header__box {
        margin-top: 0;
        text-align: center;
        padding: 40px;
    }

    .header__box h1 {
        margin-top: 20px;
        font-size: 35px;
    }

    .header__box p {
        font-size: 14px;
    }

    .find__form form {
        width: 85%;
    }

    .scroll__style::-webkit-scrollbar {
        width: 5px;
    }
}

.blind {
    display: none;
}

/* btn */

.button__style {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    border-radius: 30px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #03C75A;
    color: #fff;
    width: 40%;
    border: 0;
}

/* Pass modify */

.modify__btn {
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding-bottom: 10px;
}