@font-face {
    font-family: "baskinRobbins";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/baskinRobbins-Regular.woff2") format("woff2"),
         url("../fonts/baskinRobbins-Regular.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "baskinRobbins";
    font-weight: 700;
    font-style: normal;
    src : url("../fonts/baskinRobbins-Bold.woff2") format("woff2"),
          url("../fonts/baskinRobbins-Bold.woff") format("woff");
    font-display: swap;
} 

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/nanumSquareNeo-Regular.woff2") format("woff2"),
         url("../fonts/nanumSquareNeo-Regular.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/nanumSquareNeo-Bold.woff2") format("woff2"),
         url("../fonts/nanumSquareNeo-Bold.woff") format("woff");
    font-display: swap;
} 