html {
    font-size: 16px;
}
#wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* header */
#header {
    width: 20%;
    height: 100vh;
    background-color: var(--white);
    border-right: 1px solid var(--gray);
    position: fixed;
    padding: 30px;
}
.header_logo img {
    width: 50%;
    padding: 5px;
}
/* header_nav */
.header_nav {
    margin: 40px 0;
    width: 100%;
    font-size: 1.1rem;
}
.header_nav li {
    /* border: 1px solid red; */
    padding: 1rem;
    padding-left: 3.5rem;
    margin-bottom: 10px;
    position: relative;
}
.header_nav li a {
    display: block;
    width: 100%;
}
.header_nav li i {
    display: block;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* ____________________________contents____________________________ */
#contents_area {
    width: 80%;
    height: auto;
    min-height: 100vh;
    margin-left: 20%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
#main_contents {
    width: 75%;
    padding: 0 25px;
}

/* ranking_list  */
.ranking_list .alcohol_list {
    width: auto;
    overflow-x: auto;
    display: flex;
    padding: 10px 0;
}
.ranking_list .alcohol_list li {
    background-color: #eee;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    transition: all .3s;
}
.ranking_list .alcohol_list li > span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--mcolor);
    transition: all 0.3s;
}
.ranking_list .alcohol_list img {
    width: 180px;
    transition: all .3s;
}
.title_hover {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    transition: all .3s;
    opacity: 0;
}
.title_hover p {
    font-size: 1.1rem;
    margin-bottom: 3px;
    font-weight: bold;
}
.title_hover span {
    font-size: 0.9rem;
    color: var(--mcolor);
}
.ranking_list .alcohol_list li:hover .title_hover {
    opacity: 1;
    top: 0;
}
.ranking_list .alcohol_list li:hover img {
    filter: blur(3px);
}
.ranking_list .alcohol_list li:hover > span {
    left: 50%;
    transform: translateX(-50%);
}

/* best_board */
.best_board {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.best_board li {
    padding: 12px 15px;
    font-size: 1rem;
    color: var(--black);
    transition: all 0.2s;
}
.best_board li:nth-child(odd) {
    background-color: #eee;
}
.best_board li:hover {
    background-color: #e0e0e0;
}
.best_board li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best_board li .board_title {
    width: 80%;
}
.best_board li .board_reaction {
    display: flex;
    justify-content: right;
    color: #555;
    font-size: 0.85rem;
}
.best_board li .board_reaction p {
    padding: 0 15px;
}
.best_board li .board_reaction p:first-child {
    border-right: 2px solid rgb(219, 219, 219);
}

/* __________________________aside__________________________ */
#side_wrap {
    width: 25%;
    height: auto;
    max-height: 380px;
    margin: 0 25px;
    position: sticky;
    top: 50px;
    right: 50px;
}
.side_box {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    background-color: var(--white);
}
/* 검색창 */
.search_box {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: relative;
}
.search_box input {
    outline: none;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: #555;
    width: 80%;
}
.search_box input::placeholder {
    font-size: 1rem;
}
.search_box button {
    background-color: transparent;
    border: none;
    color: var(--mcolor);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;    
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}
/* 로그인 */
.info_box {
    padding: 20px;
}
.login_info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 10px;
}
.login_info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}
.login_info p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.login_info ul {
    display: flex;
    font-size: 0.85rem;
}
.login_info li {
    padding: 0 10px;
    color: #555;
    border-right: 2px solid rgb(219, 219, 219);
}
.login_info li:first-child {
    padding-left: 0;
}
.login_info li:last-child {
    padding-right: 0;
    border-right: none;
}

/* footer */
#side_wrap::after {
    content: "© 2023 INSTAGRAM FROM META";
    clear: both;
    display: block;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: #aaa;
    width: 100%;
    text-align: center;
}

@media (max-width: 1650px) {
    html {
        font-size: 14px;
    }
    #header {
        width: 250px;
        padding: 30px 20px;
    }
    #contents_area {
        width: calc(100% - 250px);
        margin-left: 250px;
        padding: 30px;
    }
    #main_contents {
        padding: 0;
        width: calc(100% - 270px);
    }
    #side_wrap {
        width: 270px;
        /* max-height: 380px; */
        margin: 0;
        margin-left: 30px;
        position: sticky;
        top: 20px;
        right: 20px;
    }
    .best_board li .board_title {
        width: 60%;
    }
}
@media (max-width: 1150px) {
    #header {
        width: 250px;
        padding: 30px 20px;
    }
    #contents_area {
        width: calc(100% - 250px);
        margin-left: 250px;
        padding: 30px;
    }
    #main_contents {
        padding: 0;
        width: 100%;
    }
    #side_wrap {
        display: none;
    }
    .best_board li .board_title {
        width: 60%;
    }
}
@media (max-width: 840px) {
    #header {
        width: 250px;
        padding: 30px 20px;
        display: none;
    }
    #contents_area {
        width: 100%;
        margin-left: 0px;
        padding: 30px;
    }
    #main_contents {
        padding: 0;
        width: 100%;
    }
    #side_wrap {
        display: none;
    }
    .best_board li .board_title {
        width: 60%;
    }
}