/* skip */
#skip {
    position: relative;
    z-index: 1000000;
}
#skip a {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: -400px;
    top: 0;
    padding: 20px 40px;
}
#skip a:active,
#skip a:focus {
    left: 0;
}

.gray {
    background-color: var(--primary-color);
}

/* container */
.container {
    max-width: 1260px;
    width: 96%;
    margin: 0 auto;
}

/* intro__inner */
.intro__inner {
    text-align: center;
    padding: 5% 0;
}

.intro__img {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.intro__text {
    font-size: 1.4rem;
    padding: 5% 20% 0 20%;
    word-break: keep-all;
    font-weight: 300;
}
.intro__btn {
    margin-top: 40px;
}
.intro__btn a {
    font-size: 1.2rem;
    padding: 0.6em 4em;
    margin: 0.4em;
    border-radius: 40px;
    background-color: var(--black);
    color: var(--white);
}
@media (max-width: 800px) {
    .intro__img {
        max-width: 200px;
    }
    .intro__text {
        padding: 5% 10% 0 10%;
    }
    .intro__img {
        max-width: 200px;
    }
}

/* bmStyle */
.bmStyle {
    border-bottom: 3px solid var(--black);
    position: relative;
}
.bmStyle::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--black);
}
/* btStyle */
.btStyle {
    border-top: 3px solid var(--black);
    position: relative;
}
.btStyle::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: -8px;
    background-color: var(--black);
}
/* input__style : 회원가입 input */
.input__style {
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 1rem 2rem;
}
/* btn style */
.btn__style {
    display: block;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 0.5rem 3rem;   
    margin: 3rem auto; 
    cursor: pointer;
}
/* required */
.required::after {
    content: ' *';
    color: #ff0000;
}

/* main */
#main {
    min-height: 100vh;
}


/* footer */
#footer {
    text-align: center;

}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 0.8rem;
    color: var(--black300);
}


/* margin 간격 */
.mt0 {margin-top: 0px !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}
.mt80 {margin-top: 80px !important;}
.mt90 {margin-top: 90px !important;}
.mt100 {margin-top: 100px !important;}

