:root {
    --main-nanum: "NanumSquareNeo";
    --main-gmark: "GmarketSans";

    --primary-color: #eee;
    --black: #000;
    --white: #fff;

    --black100: #333;
    --black200: #555;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #28282800;
    
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}